<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="logImpl" value="SLF4J"/>
    </settings>
    <!-- 尽量约定俗称, 别走配置, 这个文件不能删 @文优 -->
    <!--<typeAliases>-->
        <!--<typeAlias type="com.alisports.gerrard.biz.dataobject.TeamDO" alias="TeamDO"/>-->
    <!--</typeAliases>-->
    <!--<mappers>-->
        <!--<mapper resource="mapper/TeamMapper.xml"/>-->
        <!--<mapper resource="com/alisports/gerrard/biz/mapper/TeamMapper.xml"/>-->
    <!--</mappers>-->
</configuration>
